site_name: Vector Tactics - Arma 3 Clan
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: red
plugins:
  - calendar
    tz: Europe/Zurich
    start: 2023-02-20
    end: 2023-06-23