site_name: VT Manual
site_dir: docs
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: red
