site_name: Vector Tactics - Arma 3 Clan
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: red

